{% extends "base.html" %}

{% block extrahead %}
  <link rel="apple-touch-icon" href="{{ 'assets/images/logo-syg.png' | url }}" />
  <meta property="robots" content="index, follow" />
  {% if page and page.meta.use_recaptcha %}
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="{{ 'assets/javascripts/recaptcha.js' | url }}"></script>
  {% endif %}
{% endblock %}

{# Custom helper div to use for CSS selector in extra.css #}
{% block header %}
  {% if page and page.file.dest_uri == "index.html" %}
  <div id="extHomePageHeader" style="display: none;"></div>
  {% elif posts %}
  <div id="extBlogViewHeader" style="display: none;"></div>
  {% else %}
  <div id="extNormalPageHeader" style="display: none;"></div>
  {% endif %}
  
  {% include "partials/header.html" %}
{% endblock %}