.md-header {
    background-color: #091c4b;
}
@font-face {
    font-family: "EtelkaLight";
    src: "assets/fonts/EtelkaLight.otf";
}

:root {
    --md-text-font: "EtelkaLight"; 
    --md-default-fg-color--light: #ffffffaf;
}

body {background: #091c4b; color: #fff; font-size: 16px; line-height: 20px;}