/* Custom font */
@font-face {
    font-family: "EtelkaLight";
    font-display: swap;
    src: url("../fonts/EtelkaLight.otf");
}
:root {
    --md-text-font: "EtelkaLight"; 
}

/* Small blog post excerpts */
.md-post--excerpt { 
    margin-bottom: 0rem;
}

/* Hide website name as it's visible in the logo */
.md-header__ellipsis div:first-child {
    display: none;
}

/* Hide whole ellipsis as default when not scrolled */
/* The navigatin buttons light up when selected, no need for top level topic */
header:not(.md-header--shadow) .md-header__ellipsis {
    display: none;
}

/* Make sure page topic is visible on blog views */
/* It only appears when scrolled due to the previous selector */
#extBlogViewHeader + header .md-header__ellipsis div:last-child {
    opacity: 1;
    transform: unset;
}

/* hide topic text on the hope page as it's visible in the logo */
#extHomePageHeader + header .md-header__ellipsis {
    display: none;
}

/* Contact form settings */
#extShowEmail {
    cursor: pointer;
    outline: 0.1em solid var(--md-accent-fg-color);
    border-radius: 0.2em;
}

#extShowEmail:hover code {
    color: var(--md-accent-fg-color);
}

#extFormWrapper {
    width: 100%;
}

@media screen and (max-width: 45em) {
    #extFormWrapper form {
        width: 100%;
    }
}

@media screen and (min-width: 45em) {
    #extFormWrapper form {
        width: 50%;
    }
}

#extFormWrapper form > .md-input {
    display: block;
    margin: 0 0 0.5rem 0;
    width: 100%;
    background: inherit;
}

#extFormWrapper form > .md-input:focus-visible {
    outline: .1rem solid var(--md-accent-fg-color);
    border: unset;
}

#extFormWrapper form > .md-input:valid {
    outline: 1px solid #00dfc8;
    border: unset;
}

#extFormWrapper form > textarea {
    border-top: unset;
    border-right: unset;
    border-left: unset;
    color: var(--md-typeset-color);
    font-family: var(--md-text-font-family);
    font-feature-settings: "kern", "liga";
    height: 5rem;
    padding-top: 0.6em;
}

#extFormWrapper form > textarea:focus-visible {
    outline: 0;
}

#extFormWrapper form > button {
    margin-top: 1rem;
    width: 100%;
}

/* Contact form success settings */
.twemoji.extLargeSVG {
    height: 7rem;
    width: 100%;
}

.twemoji.extLargeSVG svg {
    height: 7rem;
    width: 7rem;
    margin: 0 auto;
    max-height: unset;
}

/* Home page settings for logo */
@media screen and (max-width: 45em) {
    :root {
        --ext-nype-home-logo-height: 7rem;
    }
}

@media screen and (min-width: 45em) {
    :root {
        --ext-nype-home-logo-height: 10rem;
    }
}

.twemoji.extHomeLogoSVG {
    height: var(--ext-nype-home-logo-height);
    width: 100%;
}

.twemoji.extHomeLogoSVG svg {
    height: var(--ext-nype-home-logo-height);
    width: 100%;
    margin: 0 auto;
    max-height: unset;
}

#extHomePageHeader + header + .md-container .md-main__inner {
    margin-top: 0;
}