/* Hide title heading */
.md-content__inner > h1,
.md-content__inner .md-content__button {
    display: none;
}

/* Overall better text formatting */
.md-content {
    text-align: justify;
}

/* Center content */
@media screen and (min-width: 30rem) {
    .md-content {
        max-width: 37rem;
        margin: auto;
    }
}