/* Custom font */
@font-face {
    font-family: "EtelkaLight";
    src: url("fonts/EtelkaLight.otf");
}
:root {
    --md-text-font: "EtelkaLight"; 
}

/* Small blog post excerpts */
.md-post--excerpt { 
    margin-bottom: 0rem;
}

/* Hide website name as it's visible in the logo */
.md-header__ellipsis div:first-child {
    display: none;
}

/* Hide whole ellipsis as default when not scrolled */
/* The navigatin buttons light up when selected, no need for top level topic */
header:not(.md-header--shadow) .md-header__ellipsis {
    display: none;
}

/* Make sure page topic is visible on blog views */
/* It only appears when scrolled due to the previous selector */
#extBlogViewHeader + header .md-header__ellipsis div:last-child {
    opacity: 1;
    transform: unset;
}

/* hide topic text on the hope page as it's visible in the logo */
#extHomePageHeader + header .md-header__ellipsis {
    display: none;
}